:root {
    /* font-sizes */
    --title: 1.8rem;
    --sub-title: 1rem;
    --text: 1.4rem;
    --misc: 1rem;
    --padding-common: 1.6rem;
    /* colors */
    --bg-special: #bccbb7;
    --text-primary: #212529;
    --bg-primary: #f4f4f4;
    --bg-selected: #ebebeb;
    --border-color: #d0d0d0;
    --color-personal: #fe6b6b;
    --color-work: #67d8e8;
    --color-shopping: #fed43b;
    --btn-primary: #fdd43a;
}